:root {
  --border: 1px solid var(--border-color);
  --border-radius: 12px;
  --border-color: #4d4d4d;

  --text-primary: #9d9d9d;
  --bg-global: #1d1d1d;
  --bg-section: #262626;
  --bg-skeleton: #434343;
  --bg-hover: #2f2f2f;

  --btn-primary: #ffffff;
  --btn-danger: #fa7272;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
}

svg {
  display: block;
}

button {
  cursor: pointer;
}
