@import './base.css';

#app {
  max-width: 857px;

  margin: 0 auto;
  padding: 32px;

  display: grid; 
  grid-template-columns: 236px 525px; 
  grid-template-rows: 500px 72px; 
  gap: 32px 32px; 
  grid-template-areas: 
    "Header Main"
    "Footer Footer"; 
    
  color: var(--text-primary);
  background-color: var(--bg-global)
}
